<%- include("partials/header", { bot, user, path, title: "Home | Blink Bot" }) %>
<style>
h2.light{color:#ffbf11;
font-size: 20px;}
h2.index{color:#29ffed;
font-size: 14px;}
</style>
<div>
<div class="container-sm center" style="margin-top: 25px">
        <div class="d-flex flex-row justify-content-center">
          <img
            src="https://cdn.discordapp.com/avatars/803210573755056188/ea6e701e89681a23012d8839db48db1f.webp"
            width="50px"
            height="50px"
            style="border-radius: 25px"
          /><div class="align-self-end my-4"><h2 style="font-size: 25px;" class="align-top">Blink Bot</h2><h2 class="light">⚡</h2><h2 class="index">A Multipurpose Bot!</h2>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="none" color:"black" fill-opacity="1" d="M 0 300 Q 150 350 200 250 Q 300 150 400 250 Q 500 350 600 300 Q 700 150 800 250 "></path></svg>
    <div class="d-grid gap-2 col-6 mx-auto"><hr>
    <p style="color: white;">You can customize your bot here, also feel free to Visit our website and join our official server!</p>
    <a style="color: white;" class="new-aqua but" href="/dashboard">Dashboard</a>
    <a style="color: white;" class="but" href="https://blink-bot.ml">Visit Website</a>
    <a style="color: white;" class="but" href="https://discord.gg/TxEQVBzSWK">Discord Server</a>
  </div>
</div>

<%- include("partials/footer") %>